{% extends 'blog/base.html' %}


{% block content %}
    <h1>New post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <p><li><a href="{% url 'post_list' %}"><b>main page</b></a></li></p>
    </form>
    
    
{% endblock %}

<!-- form이 post방식이기 때문에 {% csrf_token %} 사용 
<form>은 action속성이 목적지를 나타냄, 
그러나 현재는  views.py에서 form이라는 이름으로 목적지, 
전달자료 양식관련정보를 모두 제공해주고 있다. 
(class META 내부의 model 변수와  fields변수를 통해서) 
따라서 아래와 같이 ,,전달 받은 양식.as_py,, 라고만 작성하면 되는 것이다.  -->